@import url('https://fonts.googleapis.com/css?family=Special+Elite');

* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: Verdana, sans-serif;
  background-color: #f7f7f7;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

.quote-box {
  width: 600px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding: 50px;
  border-radius: 4px;
}

.quote-text {
  font-family: 'Special Elite', cursive;
}

.quote-text blockquote {
  font-weight: 100;
  font-size: 24px;
  position: relative;
  margin: 0;
}

.quote-text cite {
  line-height: 3;
  text-align: left;
}

.quote-footer {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  display: block;
  cursor: pointer;
  background-color: #3c677491;
  color: #fff;
  border: 0;
  padding: 10px 20px;
  border-radius: 4px;
}

.twitter-btn {
  cursor: pointer;
  color: #1a91da;
  background-color: #fff;
  padding: 5px 20px;
  border: solid 1px #457a8a91;
  border-radius: 4px;
}

.btn:focus,
a:focus {
  outline: 0;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: grey;
  color: #fff;
  text-align: center;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer a {
  color: #fff;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}
